@media screen and (max-width: 950px) {
    .imgprincipal {
        display: none;
    }
    .conteiner-fluid {
        display: flex;
        justify-content: end;
        background-color: rgb(14, 13, 13);
        align-items: center;

    }
    .presentacion {
        width: 100%;
        grid-row: auto auto auto auto auto;
        grid-column: 1fr 1fr;
        grid-template-areas:
            "cont1 cont1"
            "cont2 cont2"
            "imgc1 imgc1"
            "imgc2 imgc2"
            "imgc3 imgc3";
        .imgc1 {
            grid-area: imgc1;
            display: flex;
            justify-content: start;
            
        }    
        .imgc2 {
            grid-area: imgc2;
            display: flex;
            justify-content: end;
            
        }
        .imgc3 {
            grid-area: imgc3;
            display: flex;
            justify-content: start;
            
        }
    }        
    .parques {
        grid-row: auto auto auto auto auto;
        grid-column: 1fr;
        grid-template-areas:
            "titulop" 
            "imgp-1"
            " imgp-2"
            " imgp-3"
            "pfinp"
    }
    .encabezado {
        display: none
    }
    .museo {
        grid-row: auto auto auto auto auto;
        grid-column: 1fr;
        grid-template-areas:
            "titulom"
            "imgm-1"
            "imgm-2"
            "imgm-3"
            "pfinm"
    }
}

@media screen and (max-width: 560px) {
   

    
    
    .foot1 {
        background-color: white;

    }
    .foot2 {
        background-color: white;
    }

}