/*.....Extends.....*/
%flex-center{
    display: flex;
    justify-content: center;
}
%base{
    background-color: black;
    color: white;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
