/*..............Index..............*/
h1 {
    padding: 10px;
    font-weight: bold;
    font-size: 80px;
    @extend %base;
    animation: 
      changer-color 3s ease-in-out alternate,
      move-tit 2s linear alternate;
    animation-iteration-count: 4;
 
    
    
}
h1 span{
    color:  rgba(241, 106, 33, 0.904);
}

@keyframes changer-color{
    from{
         background-color: black;
    }
    to{
        background-color:  rgba(241, 112, 42, 0.911);
    }
}
@keyframes move-tit{
    0%{
        transform: translateX(0);
    }
    100%{
         transform: translateX(250px);
    }
}



h2 {
    margin: 15px;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.presentacion {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    /*...DESDE ACA GRID...*/
    display: grid;
    width: 100%;
    grid-row: auto auto;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas:
        "cont1 imgc1 imgc2"
        "cont2 imgc3 imgc4";
    transition: 2s;
    .cont1 {
            grid-area: cont1;        
    }
    .cont2 {
        grid-area: cont2;
    }
    .imgc1 {
        padding: 10px;
        border-left: groove rgba(241, 106, 33, 0.904);
        grid-area: imgc1;
        display: flex;
        justify-content: center;
        
    }
    .imgc1:hover {
        transform: scale(1.1);
    }
    .imgc2 {
        padding: 10px;
        border-top: groove rgba(241, 110, 39, 0.911);
        grid-area: imgc2;
        display: flex;
        justify-content: center;
    
    }
    .imgc2:hover {
        transform: scale(1.1);
    }
    .imgc3 {
        padding: 10px;
        border-bottom: groove rgba(241, 112, 42, 0.911);
        grid-area: imgc3;
        display: flex;
        justify-content: center;
    }
    .imgc3:hover {
        transform: scale(1.1);
    }
    .imgc4{
        padding: 10px;
        border-right: groove rgba(240, 107, 36, 0.89);
        grid-area: imgc4;
        display: flex;
        justify-content: center;
    }
    .imgc4:hover {
        transform: scale(1.1);
    }
    .pfinal {
        text-decoration: underline;
        
    }          
                 
}

/*...............Que hacer..............*/

h4 {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    @extend %base;
}
.titulocuatro {
    padding: 5px;
    padding-bottom: 15px;
    font-size: 25px;
    @extend %base;
}
/*........MUSEOS........*/
.museo {
    font-weight: bold;
    font-size: 30px;
    @extend %base;
    /*...EMPIEZA GRID...*/
    display: grid;
    width: 100%;
    grid-row: auto auto auto auto;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "titulom imgm-1"
        "titulom imgm-2"
        "titulom imgm-3"
        "pfinm pfinm";
    transition: 2s;    
    .titulom {
        text-decoration: underline rgba(241, 112, 42, 0.911);
        grid-area: titulom;
        height: 100%;
        /*...COMBINACION GRID Y FLEX...*/
        @extend %flex-center;
        align-items: center;
        font-size: 50px;
        .ms1 {
            margin: 20px;
        }
        .ms1:hover {
        transform: scale(1.1);
        }
    }

   
    .imgm-1 {
        padding: 15px;
        border-top: groove;
        border-right: groove;
        grid-area: imgm-1;
        display: flex;
        justify-content: flex-end;

    }
   .imgm-1:hover {
        transform: translate(-30px)
    }
    .imgm-2 {
        padding: 15px;
        border-left: groove;
        border-bottom: groove;
        grid-area: imgm-2;
        display: flex;
        justify-content: flex-start;
    }
    .imgm-2:hover {
        transform: translate(-30px)
    }
    
    .imgm-3 {
        padding: 15px;
        border-right: groove;
        border-bottom: groove;
        grid-area: imgm-3;
        display: flex;
        justify-content: flex-end;
    }
    .imgm-3:hover {
        transform: translate(-30px)
    }
    .pfinm {
        grid-area: pfinm;
        @extend %flex-center;
        .muspar {
            padding: 20px;
            line-height: 1.5;
            font-size: 20px;
            font-weight: normal;
        }
    }
}
/*......PARQUES......*/
.parques {
    font-weight: bold;
    font-size: 30px;
    @extend %base;
    /*...EMPIEZA GRID...*/
    display: grid;
    width: 100%;
    grid-row: auto auto auto auto;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "titulop imgp-1"
        "titulop imgp-2"
        "titulop imgp-3"
        "pfinp pfinp";
    transition: 2s;
    .titulop {
        text-decoration: underline rgba(241, 112, 42, 0.911);
        grid-area: titulop;
        height: 100%;
        /*...COMBINACION GRID Y FLEX...*/
        @extend %flex-center;
        align-items: center;
        font-size: 50px;
        .pr1 {
            margin: 20px;
        }
        .pr1:hover {
            transform: scale(1.1);
        }
    }

    .imgp-1 {
        padding: 15px;
        border-top: groove;
        border-right: groove;
        grid-area: imgp-1;
        display: flex;
        justify-content: flex-end;
    }
    .imgp-1:hover {
        transform: translate(-30px)
    }
    .imgp-2 {
        padding: 15px;
        border-left: groove;
        border-bottom: groove;
        grid-area: imgp-2;
        display: flex;
        justify-content: flex-start;
    }
    .imgp-2:hover {
        transform: translate(-30px)
    }
    .imgp-3 {
        padding: 15px;
        border-right: groove;
        border-bottom: groove;
        grid-area: imgp-3;
        display: flex;
        justify-content: flex-end;
    }
    .imgp-3:hover {
        transform: translate(-30px)
    }
    .pfinp {
        grid-area: pfinp;
        @extend %flex-center;
        .parqpar {
            padding: 20px;
            line-height: 1.5;
            font-size: 20px;
            font-weight: normal;
        }
    }
            
}
/*...............Recorridos...............*/
h5 {
    color: rgb(7, 6, 6);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px;
    padding: 5px;
    animation: 
      changer-color 3s ease-in-out alternate,
      move-tit 2s linear alternate;
    animation-iteration-count: 4;
}
@keyframes changer-color{
    from{
         background-color: white;
    }
    to{
        background-color: rgba(241, 112, 42, 0.911);
    }
}
@keyframes move-tit{
    0%{
        transform: translateX(0);
    }
    100%{
         transform: translateX(250px);
    }
}
.ptod {
    @extend %base;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    transition: 2s;
    .rec1 {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 15px;
         text-decoration: overline underline rgba(241, 112, 42, 0.911);
    }
    .rec11 {
        font-size: 20px;
        font-weight: normal;
        margin: 15px;
    }
    .imgrec {
        margin: 25px;
    }
    .imgrec:hover{
        transform: scale(1.1);
    }
}
/*...............Contacto...............*/
h6 {
    margin: 7px;
    color: rgb(7, 6, 6);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lrm {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.formu {
    margin: 20px;
    background-color: rgba(241, 163, 118, 0.295);
    padding: 10px;
}
/*...............Informacion...............*/
.titu {
    margin: 12px;
    color: rgb(7, 6, 6);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tdo1 {
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px;
    .tit1 {
        color: rgba(241, 112, 42, 0.911);
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 7px;
    }
    .rell1 {
        color: aliceblue;
        font-size: 20px;
        font-weight: normal;
        
    }
    .under {
         text-decoration: underline rgba(241, 112, 42, 0.911);
    }
}
.tdo2 {
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px;
    .tit {
        color: rgba(241, 112, 42, 0.911);
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
    }
    .rell {
        font-size: 20px;
        font-weight: normal;
    }
     .under {
         text-decoration: underline rgba(241, 112, 42, 0.911);
    }
}
.tdo3 {
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px;
    a{
        color: white;
    }
}
